.account{padding:10px;border-radius:3px;transition:.3s}
.account:hover,.ddm-menu-parent[active] > .account{background:var(--account-background);transition:.3s}
.account > span{font-size:14px}
.accountImage{--size:26px;width:var(--size);height:var(--size);border-radius:25px}
.accountDetails{margin-left:8px}
@media only screen and (max-width: 425px) {.accountDetails{display:none}.account{border-radius:25px}}

/* Layout */
#root {display:grid;min-height:100vh;grid-template-columns:auto;grid-template-rows:5rem auto 5rem;grid-template-areas:"nav" "main" "footer"}
body {margin:0;padding:0;background:var(--background-default)}
nav {grid-area:nav;padding:0 4rem;box-shadow:0 0 6px var(--nav-shadow)}
main {grid-area:main;padding:2rem}
footer {grid-area:footer}
@media only screen and (max-width: 425px) {nav{padding:0 1rem}}

.list {gap:2rem}
.restaurant {gap:.75rem}
.restaurant-header{
    background-color: #eaeaea;
    background-image: url(/uploads/mbotron/default.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 6px;
    height:7rem;
    width:18rem
}

.overlay {
    opacity: 0;
    transition: .3s;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background: hsla(0, 0%, 100%, 0.91);
}

.overlay > span {
    font-size: 18px;
    font-weight: 600;
    background: #00a879a1;
    padding: 10px 30px;
    border-radius: 6px;
    color: white;
    transition: .15s;
}

.overlay > span:hover {
    background: #00a879;
    transition: .15s;
}

.restaurant:hover .overlay {
    opacity:1;
    transition: .3s;
}

.address {font-style:italic}
.reviews {align-items:flex-end;gap:4px}
.rating-bar > svg {
    height: 16px;
    fill: lightgray
}

.rating-bar > svg.active {
    fill: url(#a)
}
.hide {display:none}

label {color:var(--muted-col);font-size:13px}
select {
    border: 1px solid var(--muted-col-border);
    padding: 0.6rem 1.65rem;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -1px;
    background: none;
    transition: .3s;
    margin-bottom:1rem;
}

select:hover, select:focus {
    color:var(--edit);border-color:var(--edit);transition: .3s
}

option {
    background-color: var(--background-default);
}