/* 
    * Layout
    * © Copyright 2020 Martin Weiss (martinweiss.cz) 
*/
body {margin:0;padding:0;background:var(--background-default);}
  
.container {
    display:grid;
    height:100vh;
    grid-template-columns: auto;
    grid-template-rows: 4rem auto 4rem;
    grid-template-areas:
        "nav"
        "main"
        "footer";
}

nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    color: var(--color-primary);
    box-shadow: 0 0 6px var(--nav-shadow);
}

main {grid-area:main;overflow:overlay;padding: 2rem 5rem 0;}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-secondary);
    font-weight: 700;
    font-size: 13px;
    letter-spacing: -1px;
    text-align:center;
}

@media (max-width: 890px) {
    nav {padding: 0 1rem;}
    main {padding:2rem 1rem 0;}
}

/*
    * dashboard.css
    * © Copyright 2020 Martin Weiss (martinweiss.cz)
*/
* {outline:none;color:var(--color-primary);}
[data-role="button"] {cursor:pointer;}

.account, .accountDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.account {
    padding: 10px 21px;
    border-radius: 3px;
    transition: .3s;
}
.accountImage {padding-right: 10px;}

.account:hover {
    background: var(--account-background);
    transition: .3s;
}

.lineContentButton {display:flex;justify-content:flex-end;margin-bottom:2rem;}
.contentAddButton {display:flex;align-items:center;padding:10px 20px;border-radius:3px;border:1px solid var(--add);transition:.3s;}
.contentAddButton > * {margin-right: 4px;color: var(--add);transition: .3s;}
.contentAddButton:hover {background: var(--add);transition: .3s;}
.contentAddButton:hover > * {color:var(--color-primary);transition: .3s;}

.cardList {
    display: flex;
    margin-bottom: 2rem;
    padding-bottom: 12px;
    overflow-x: auto;
}

.cardItem {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 1rem;
    height: 130px;
    width: 271px;
    border-radius: 4px;
    flex-shrink: 0;
    animation: smoothAppend linear .3s;
}

.cardItem > icon {font-size:40px;padding-left:19px}
.cardTitle {
    padding: 0 23px 23px 23px;
    word-break:break-word;
    font-size: 23px;
    font-weight: 700;
    text-shadow: 0 0 15px black;
    color:white;
}

.cardItem[data-role="button"] > icon,
.cardItem[data-role="button"] > .cardTitle {color: var(--color-primary);text-shadow: none;transition: .15s;}
.cardItem[data-role="button"] {border: 1px dashed var(--border-primary);transition: .15s;}
.cardItem[data-role="button"]:hover {border-color: var(--sex-male);transition: .15s;}
.cardItem[data-role="button"]:hover > icon,
.cardItem[data-role="button"]:hover > .cardTitle {color: var(--sex-male);transition: .15s;}

/* 
    * Iconixer | Manager for all icons in AdminDOM
    * © Copyright 2020 Martin Weiss (martinweiss.cz) 
*/
icon, icon:hover {transition:.25s;}

icon.add:hover,
icon.add[changed] {color:var(--add);}

icon.edit:hover,
icon.edit[changed] {color:var(--edit);}

icon.delete:hover,
icon.delete[changed] {color:var(--delete);}

icon.collapse.active,
icon.collapse:hover,
icon.collapse[changed] {color:var(--collapse);}

/* 
    * Input Styling
    * © Copyright 2020 Martin Weiss (martinweiss.cz) 
*/
input, select {
    border: 0;
    border-bottom: 2px solid #d6d6d6;
    padding: 6px;
    margin-top: 8px;
    width: 70%;
    border-radius: 4px;
    transition: .3s;
}
select {width: 74%;}

input:hover, input:focus, select:hover, select:focus {
    border-color: var(--main-col);
    transition: .3s;
}

.cuisines-checkboxes {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    position: relative;
    top: 2rem;
    left: 2.5rem;
}
.cuisines-checkboxes input[type="checkbox"]{
    margin: -10px 0 0 0;
}

.cuisines-checkboxes label {
    position: relative;
    top: -1.1rem;
    left: 2.5rem;
}

/* 
    * Smooth Appending | Built for smoother animations when new element is added
    * © Copyright 2020 Martin Weiss (martinweiss.cz) 
*/
@keyframes smoothAppend {
    from {opacity:0;transform:translateY(10px);}
    end {opacity:1;transform:translateY(0);}
}

/* 
    * Companies & Restaurants List | Located in Main | Replacement for Restaurans List
    * © Copyright 2020 Martin Weiss (martinweiss.cz) 
*/
.companies {
    display: flex;
    flex-direction: column;
}

.company {
    margin: 1rem 0;
}

.companycontrollers icon {font-size:24px;padding: 9px 12px;cursor: pointer;color:var(--main-bg);}
.companycontrollers icon:last-of-type {padding: 9px 8px 9px 12px;}

.companyRestaurantsList {
    margin-left: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.table-record {
    display: flex;
    align-items: center;
    user-select: none;
    justify-content: space-between;
    border: 1px solid var(--border-primary);
    transition: .3s;
    animation: smoothAppend linear .3s;
}

.company-header {
    height: 3.6rem;
    padding: 0 10px;
    border-radius: 6px 6px 0;
}

.companysub {
    border-top: none;
    padding: 0 10px;
    font-size: 15px;
}

.companysub:nth-child(2n-1) {background-color:var(--table-striped)}
.companysub:hover {background-color:var(--table-hover)}
.companysub:last-child {border-radius: 0 0 6px 6px}

/* 
    * FoodList | Located in Modal (editing process) > Admin
    * © Copyright 2020 Martin Weiss (martinweiss.cz) 
*/
.row {display:flex;flex-direction: row;}

.foodlist {width: 100%;}
.foodName {font-size:16px;}
.foodPriceRow {font-size:13px;}
.food-record icon:not(last-child) {margin-right:10px;}
.food-record icon {color:var(--muted-col);font-size: 25px;cursor: pointer;}
.food-record icon.restore:hover {color: var(--sex-male);}

.food-record {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
    padding-bottom: 6px;
    border-bottom: 1px solid var(--border-primary);
}

.foodInfo {
    display: flex;
    flex-direction: column;
}

/* 
    * Toast | Compact Info/Alert Messages
    * © Copyright 2020 Martin Weiss (martinweiss.cz) 
*/
.toastBox[active] {
    visibility: visible;
    animation: toastIn 0.5s, toastOut 0.5s 2.5s;
}

.toastBox {
    visibility: hidden;
    position: fixed;
    z-index: 860;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    bottom: 3rem;
}

.toast {
    background: var(--background-default);
    color: var(--color-primary);
    border: 1px solid var(--border-primary);
    padding: 0.5rem;
    font-size: 13px;
    font-weight: 700;
    border-radius: 6px;
}

@keyframes toastIn {
    from {opacity:0;bottom:0;}
    to {opacity:1;bottom:3rem;}
}

@keyframes toastOut {
    from {opacity:1;bottom:3rem;}
    to {opacity:0;bottom:0;}
}

/* 
    * Modal
    * © Copyright 2020 Martin Weiss (martinweiss.cz) 
*/
[modon] {
    filter: blur(3px);
    transition:.15s;
}

.overlay-modal {
    display:none;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:1;
    background: #00000021;
}
.overlay-modal.active {display:block;}

.container-modal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-box {
    background: var(--background-default);
    padding: 3rem 0;
    min-width: 17rem;
    max-width: 33rem;
    width: 33rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 0.09);
}

.modal-content h1 {
    margin: 0 0 1.5rem;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    margin-bottom: 2rem;
}

.modal-buttons-group {
    display: flex;
    flex-wrap: wrap;
}

.modal-buttons-group button {
    padding: 11px 33px;
    transition: .4s;
    cursor: pointer;
    border-radius: 5rem;
    margin: 0 5px;
    font-weight: 700;
}

.modal-confirm {
    color: white;
    background: #3ab54a;
    border: 1px solid#3ab54a;
    transition: .3s;
}
.modal-confirm:hover {
    color: white;
    background: #4CAF50;
    transition: .3s;
}

.modal-cancel {
    color: #1a1a1a;
    background: white;
    border: 1px solid #1a1a1a;
    transition: .3s;
}
.modal-cancel:hover {
    color: white;
    background: #1a1a1a;
    transition: .3s;
}
