/*
    landing.css
    © Copyright 2020 Martin Weiss (martinweiss.cz)
*/

html {height:100%;}
body {
    margin: 0;padding:0;
    background: url(https://images.unsplash.com/photo-1561758033-7e924f619b47?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=jonathan-borba-1kA3lACHeqk-unsplash.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
* {outline:none;}
a {text-decoration: none;}

.flex {display: flex;}
.flex.justify-center {justify-content:center;}
.flex.justify-end {justify-content:flex-end;}
.flex.column {flex-direction: column;}
.items-center {align-items: center;}

.top-panel {
    padding: 20px;  
    color: var(--alt-col);
    background-color: #00000029;
}

.top-panel > span {
    font-size:15px;
    font-weight: bold;
}

.top-panel > span > a {
    color: var(--alt-col);
}

.top-panel > icon {
    padding-left:15px;
    font-size: 30px;
}

.header-box {
    margin: 60px;
}

span.cuisine-type {
    margin-left: 4rem;
    font-weight: bold;
    font-size: 15px;
    color: var(--alt-col);
}

.cuisine-list {
    overflow-y: scroll;
    margin-top: 7px;
}

.cuisine-list::-webkit-scrollbar {
    display: none;
}

.cuisine-item {
    margin:5px;
    background-color: var(--alt-col-light);
    height: 8.5rem;
    width: 100px;
    color:white;
    border-radius:19px;
    flex-shrink: 0;
    transition: .3s;
}
.cuisine-item:first-of-type {
    margin-left: 3rem;
}

.cuisine-item.active {
    background-color: var(--alt-col);
    transition: .3s;
}

.cuisine-item > span {
    font-weight:bold;
    font-size:15px;
    text-transform: uppercase;
}

.cuisine-item > icon {
    font-size: 3.1rem;
    margin-bottom:20px;
}

.search-box {
    margin-top: 2rem;
}

.search-box > select {
    padding: 10px 70px 10px 26px;
    color: var(--alt-col);
    border-radius: 2rem;
    font-weight: bold;
    font-size: 14px;
    border: 3px solid var(--alt-col);
    margin-bottom: 1rem;
    background-color: #ffffff9a;
}

.search-box > button {
    background-color: var(--alt-col);
    padding: 15px 36px;
    color: white;
    border: none;
    border-radius: 2rem;
    font-weight: bold;
    font-size: 14px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    /*body {
        background: url(https://images.unsplash.com/photo-1517947138120-81858a0b2ab7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=633&q=80) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .cuisine-item {
    cursor: pointer;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}