/* main.css | © Copyright 2020 Martin Weiss (martinweiss.cz) */
a{text-decoration:none}
[data-role="button"]{cursor:pointer}
.flex{display:flex;flex-direction:column}
.flex.row{flex-direction:row!important}
.flex.hcenter{align-items:center}
.flex.hstart{align-items:flex-start}
.flex.vcenter{justify-content:center}
.flex.justify-content-between{justify-content:space-between}
.flex.justify-content-around{justify-content:space-around}
.flex.justify-content-evenly{justify-content:space-evenly}
.flex.justify-content-end{justify-content:flex-end}
.flex.wrap{flex-wrap:wrap}
.flex.grow{flex-grow:1}

html {
    --main-col: #FFC400;
    --sex-female: #E91E63;
    --sex-male: #03A9F4;
    --muted-col: #757575;
    --muted-col-border: rgba(90, 90, 90, 0.2);
    --main-bg: #1c1f2b;;
    --main-shadow-inset: inset 2px 2px 11px #14171f, inset -2px -2px 11px #242737;
    --main-shadow: 20px 20px 60px #14171f, -20px -20px 60px #242737;
    --empty-bg: rgba(255, 255, 255, 0);
    --fail: #D91C1C;

    /* ----------------------- */
    /* Gen2.0 */
    --accent-pcolor: #FDC500;
    --accent-pcolor-neg: #003F88;

    --logo-color: hsl(163, 100%, 33%);
    --background-default: hsl(0, 0%, 100%);
    --color-primary: hsl(0, 0%, 10%);
    --border-primary: hsla(0, 0%, 88%, 0.58);
    --table-striped: hsla(0, 0%, 98%, 0.58);
    --table-hover: hsl(0, 0%, 96%);
    --color-secondary: hsla(0, 0%, 10%, 0.18);
    --scrollbar-thumb: hsla(0, 0%, 54%, 0.31);
    --account-background: hsl(0, 0%, 97%);
    --menu-background: hsl(0, 0%, 97%);
    --menu-icon-background: hsla(0, 0%, 0%, 0.059);
    --menu-item-focus: hsla(0, 0%, 0%, 0.059);
    --menu-divider: hsl(0, 0%, 89%);
    --shadowTop: hsl(0, 0%, 93%);
    --shadowBottom: hsl(0, 0%, 100%);
    --option-bg: hsl(0, 0%, 100%);
    --option-bg-hover: hsl(0, 0%, 94%);
    --muted-color:hsla(0, 0%, 0%, 0.302);
    --nav-shadow: hsla(0, 0%, 0%, 0.129);
    --menu-shadow: hsla(0, 0%, 0%, 0.129);

    --accept-color: #3AB54A;
    --accept-color-focus: #FFFFFF;
    --accept-bgcol: hsla(0, 0%, 100%, 0);
    --accept-bgcol-focus: #3AB54A;
    --accept-border: #3AB54A;
    --accept-border-focus:  #3AB54A;
    --decline-color: #1A1A1A;
    --decline-color-focus: #FFFFFF;
    --decline-bgcol: #FFFFFF;
    --decline-bgcol-focus: #1A1A1A;
    --decline-border: #1A1A1A;
    --decline-border-focus: #1A1A1A;

    --add: hsl(200, 100%, 49%);
    --add-bg: hsla(200, 100%, 49%, 0.239);
    --edit: hsl(39, 96%, 50%);
    --success:hsl(127, 70%, 44%);
    --delete: hsl(0, 77%, 48%);
    --collapse: hsl(163, 100%, 33%);
    --save: hsl(216, 100%, 50%);

    --input-border-hover: hsl(200, 100%, 49%);
}

html[dark] {
    --logo-color: hsl(0, 0%, 100%);
    --background-default: hsl(216, 28%, 7%);
    --color-primary: hsl(0, 0%, 100%);
    --border-primary: hsl(215, 15%, 15%);
    --table-striped: hsl(216, 25%, 8%);
    --table-hover: hsl(200, 10%, 6%);
    --color-secondary: hsla(0, 0%, 50%, 0.15);
    --scrollbar-thumb: hsla(0, 0%, 0%, 0.31);
    --account-background: hsla(0, 0%, 44%, 0.161);
    --menu-background: hsl(0deg 0% 5%);
    --menu-icon-background: hsla(0, 0%, 100%, 0.059);
    --menu-item-focus: hsl(0, 0%, 10%);
    --menu-divider: hsla(0, 0%, 100%, 0.149);
    --shadowTop: hsl(213, 27%, 6%);
    --shadowBottom: hsl(218, 28%, 8%);
    --option-bg: hsl(216, 28%, 7%);
    --option-bg-hover: hsl(216, 28%, 13%);
    --muted-color: hsla(0, 0%, 100%, 0.122);
    --nav-shadow: hsla(0, 0%, 0%, 0.451);

    --accept-color: hsl(127, 70%, 44%);
    --accept-color-focus: hsl(0, 0%, 100%);
    --accept-bgcol:  hsla(0, 0%, 100%, 0);
    --accept-bgcol-focus: hsl(120, 100%, 12%);
    --accept-border: hsl(127, 70%, 44%);
    --accept-border-focus:  hsl(127, 70%, 44%);
    --decline-color: hsl(0, 0%, 100%);
    --decline-color-focus: hsl(0, 77%, 48%);
    --decline-bgcol:  hsla(0, 0%, 100%, 0);
    --decline-bgcol-focus: hsla(0, 0%, 0%, 0.388);
    --decline-border: hsl(0, 0%, 15%);
    --decline-border-focus: hsl(0, 77%, 48%);
}

html.theme-transition, html.theme-transition *, html.theme-transition *:before, html.theme-transition *:after {transition: all 750ms !important}
::-webkit-scrollbar {width:7px;height:7px}
::-webkit-scrollbar-thumb {background-color:var(--scrollbar-thumb);border-radius:50rem}
::-webkit-scrollbar-corner {background:var(--background-default)}
.logo{height:35px;fill:var(--logo-color)}
footer{color:var(--muted-color);letter-spacing:-1px;font-size:13px}
.ddm-menu-parent{position:relative}.ddm-menu-body{position:absolute;top:52px;border-radius:3px;padding:12px 0;min-width:260px;z-index:2;background:var(--menu-background);box-shadow:0 0 6px var(--menu-shadow)}.ddm-menu-body.align-right{right:0}.ddm-menu-parent[active] .ddm-menu-item span,.ddm-menu-parent[active] .ddm-menu-item icon,.ddm-menu-parent[active] .ddm-menu-body{animation:menuIn .5s;visibility:visible}.ddm-menu-body,.ddm-menu-item span,.ddm-menu-item icon{visibility:hidden;animation:menuOut .5s}.ddm-menu-item span{font-size:14px;color:var(--color-primary)}.ddm-menu-item icon:not([theme-listener]){font-size:22px;color:var(--color-primary);background:var(--menu-icon-background);padding:10px;border-radius:15px;margin-right:8px}.ddm-menu-item icon[theme-listener]{font-size:30px;color:var(--color-primary);padding:10px;margin-right:8px}.ddm-menu-item{padding:8px 1rem}.ddm-menu-item:hover{background:var(--menu-item-focus)}.ddm-menu-divider{width:100%;height:1px;border:0;border-top:1px solid var(--menu-divider);margin:0}.ddm-menu-body > :not(:last-child){margin-bottom:10px!important}@keyframes menuIn{from{opacity:0;top:0}to{opacity:1;top:52px}}@keyframes menuOut{from{opacity:1;top:52px}to{opacity:0;top:0}}
.mmb-toast-box[active]{visibility:visible;animation:toastIn 0.5s,toastOut .5s 2.5s}.mmb-toast-box{visibility:hidden;position:fixed;z-index:860;display:flex;justify-content:center;align-items:flex-end;width:100%;bottom:3rem}#mmb-toast-content{background:var(--background-default);color:var(--color-primary);border:1px solid var(--border-primary);padding:.5rem;font-size:13px;font-weight:700;border-radius:6px}@keyframes toastIn{from{opacity:0;bottom:0}to{opacity:1;bottom:3rem}}@keyframes toastOut{from{opacity:1;bottom:3rem}to{opacity:0;bottom:0}}
*{font-family:'Open Sans',sans-serif;color:var(--color-primary);box-sizing:border-box}
@font-face{font-family:'Open Sans';src:url(../fonts/OpenSansBold.woff2) format("woff2");font-weight:700;font-style:normal}@font-face{font-family:'Open Sans';src:url(../fonts/OpenSansSemiBold.woff2) format("woff2");font-weight:600;font-style:normal}@font-face{font-family:'Open Sans';src:url(../fonts/OpenSansRegular.woff2) format("woff2");font-weight:400;font-style:normal}@font-face{font-family:'Material Icons';src:url(../fonts/MaterialIcons.woff2) format("woff2");font-weight:400;font-style:normal;font-weight:normal}icon{font-family:'Material Icons';display:inline-block;line-height:1;text-transform:none;letter-spacing:normal;word-wrap:normal;white-space:nowrap;direction:ltr;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;-moz-osx-font-smoothing:grayscale;font-feature-settings:liga;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}