/* Menu | Dropdown Menu | Minified (32.23% bytes saved) | © Copyright 2020 Martin Weiss (martinweiss.cz) */
.menuParent{position:relative}.menu{position:absolute;top:52px;border-radius:3px;padding:15px;min-width:260px;background:var(--menu-background);box-shadow:0 0 6px var(--nav-shadow)}.menu.align-right{right:0}.menuParent[active] .menuItem span,.menuParent[active] .menuItem icon,.menuParent[active] .menu{animation:menuIn .5s;visibility:visible}.menu,.menuItem span,.menuItem icon{visibility:hidden;animation:menuOut .5s}.menuItem span{font-size:14px;color:var(--color-primary)}.menuItem icon:not([theme-listener]){font-size:22px;color:var(--color-primary);background:var(--menu-icon-background);padding:10px;border-radius:20px;margin-right:8px}.menuItem icon[theme-listener]{font-size:22px;color:var(--color-primary);padding:10px;margin-right:8px}.menuItem{padding:7px;border-radius:3px}.menuItem:hover{background:var(--menu-item-focus)}.menuDivider{width:100%;height:1px;border:0;border-top:1px solid var(--menu-divider);margin:0}.menu > :not(:last-child){margin-bottom:10px!important}@keyframes menuIn{from{opacity:0;top:0}to{opacity:1;top:52px}}@keyframes menuOut{from{opacity:1;top:52px}to{opacity:0;top:0}}
/* Toast | Minified (59.24% bytes saved) | © Copyright 2020 Martin Weiss (martinweiss.cz) */
.toastBox[active]{visibility:visible;animation:toastIn 0.5s,toastOut .5s 2.5s}.toastBox{visibility:hidden;position:fixed;z-index:860;display:flex;justify-content:center;align-items:flex-end;width:100%;bottom:3rem}.toast{background:var(--background-default);color:var(--color-primary);border:1px solid var(--border-primary);padding:.5rem;font-size:13px;font-weight:700;border-radius:6px}@keyframes toastIn{from{opacity:0;bottom:0}to{opacity:1;bottom:3rem}}@keyframes toastOut{from{opacity:1;bottom:3rem}to{opacity:0;bottom:0}}

/*
    * viewDetail.css
    * © Copyright 2021 Martin Weiss (martinWeiss.cz)
*/
* {box-sizing:border-box}
.container {display:grid;width:100vw;min-height:100vh;grid-template-columns:auto 20rem;grid-template-rows:5rem auto 5rem;
    grid-template-areas:
        "nav nav"
        "main main"
        "footer footer"
}
.container[carton] {
    grid-template-areas:
        "nav nav"
        "main cart"
        "footer footer"
}
nav {grid-area:nav;color:var(--color-primary);padding:0 5rem;box-shadow:0 0 6px var(--nav-shadow)}
body {margin:0;padding:0;background:var(--background-default)}
main {grid-area:main}
footer {grid-area:footer;color:(--color-secondary);font-weight:700;font-size:13px;letter-spacing:-1px;text-align:center}
#shopping-cart {grid-area:cart;display:none;color:var(--color-primary)}
#shopping-cart.active {display:flex;flex-direction:column;align-items:center}
@media only screen and (max-width: 986px) {
    .container {grid-template-columns:auto;grid-template-rows:5rem auto 5rem;
        grid-template-areas:
            "nav"
            "main"
            "footer"
    }
    .container[carton] > #shopping-cart {position:absolute}
}

.header-logo {height:40px;fill:var(--logo-color)}
.header-control-item {height:40px;fill:var(--color-primary);transition:.15s;border-radius:30px;padding:7px}
.header-control-item:hover {fill:var(--add);background-color:var(--add-bg);transition:.15s}
.nav-agent {gap:20px}

#containerCart {width:100%;color:var(--color-primary)}
.empty-cart {display:flex;justify-content:center;align-items:center;height:100%}

















/*
    accountMenu.css
    © Copyright 2020 Martin Weiss (martinweiss.cz)
*/
.account{padding:7px 10px;border-radius:3px;transition:.3s}
.account:hover,
.menuParent[active] > .account{background:var(--account-background);transition:.3s}
.account > span{font-size:14px}
.accountImage{--size:26px;width:var(--size);height:var(--size);border-radius:25px;margin-right:8px}

/*
    viewDetail.css
    © Copyright 2020 Martin Weiss (martinweiss.cz)
*/




.cartItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.itemLeft {
    display: flex;
    flex-direction: column;
}

.itemRight {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.restaurant-details {
    height: 100%;
    display: grid;
    grid-template-columns: auto 21rem;
    grid-template-rows: 21rem auto;
    grid-template-areas:
        "rdHeader rdHeader"
        "rdBody rdBody";
}

.restaurant-detailed-header {
    grid-area: rdHeader;
    background: url("https://images.unsplash.com/photo-1605654940299-cd48a4bda742?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=mariah-hewines-88aMFDKdv6E-unsplash.jpg&w=1920") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 700;
}

.restaurant-detailed-body {
    grid-area: rdBody;
    padding: 2rem;
}


.foodList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.foodRecord {
    background: #ffffff;
    width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
    border-radius: 10px;
    box-shadow: 0 0 20px 0px #00000005;
}

.foodRecordImage {
    margin: -60px 0 20px;
    height: 120px;
}

.foodRecordName {
    font-weight: 700;
    font-size: 18px;
}

.foodRecordPrice {
    margin: 5px 0 20px;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.addToCart {
    background: white;
    border: 1px solid #1a1a1a;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 7px;
    transition: .3s;
    cursor: pointer;
}
.addToCart > img {
    height: 28px;
    filter: invert(100%);
    transition: .3s;
}

.addToCart:hover {
    background: #1a1a1a;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 7px;
    transition: .3s;
}

.addToCart:hover > img {
    filter: invert(0%);
    transition: .3s;
}




icon.add, icon.remove {
    cursor: pointer;
    padding: 4px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    transition: .3s;
}

icon.add:hover, icon.remove:hover {
    color:white;
    transition: .3s;
}
icon.add {border-color: green;color:green;}
icon.add:hover {background-color: green;}
icon.remove {border-color: red;color:red;}
icon.remove:hover {background-color:red;}
