/* Menu | Dropdown Menu | Minified (32.23% bytes saved) | © Copyright 2020 Martin Weiss (martinweiss.cz) */
.menuParent{position:relative}.menu{position:absolute;top:52px;right:0;border-radius:3px;padding:15px;min-width:260px;background:var(--menu-background);box-shadow:0 0 6px var(--nav-shadow)}.menuParent[active] .menuItem span,.menuParent[active] .menuItem icon,.menuParent[active] .menu{animation:menuIn .5s;visibility:visible}.menu,.menuItem span,.menuItem icon{visibility:hidden;animation:menuOut .5s}.menuItem span{font-size:14px;color:var(--color-primary)}.menuItem icon:not([theme-listener]){font-size:22px;color:var(--color-primary);background:var(--menu-icon-background);padding:10px;border-radius:20px;margin-right:8px}.menuItem icon[theme-listener]{font-size:22px;color:var(--color-primary);padding:10px;margin-right:8px}.menuItem{padding:7px;border-radius:3px}.menuItem:hover{background:var(--menu-item-focus)}.menuDivider{width:100%;height:1px;border:0;border-top:1px solid var(--menu-divider);margin:0}.menu > :not(:last-child){margin-bottom:10px!important}@keyframes menuIn{from{opacity:0;top:0}to{opacity:1;top:52px}}@keyframes menuOut{from{opacity:1;top:52px}to{opacity:0;top:0}}
/* Toast | Minified (59.24% bytes saved) | © Copyright 2020 Martin Weiss (martinweiss.cz) */
.toastBox[active]{visibility:visible;animation:toastIn 0.5s,toastOut .5s 2.5s}.toastBox{visibility:hidden;position:fixed;z-index:860;display:flex;justify-content:center;align-items:flex-end;width:100%;bottom:3rem}.toast{background:var(--background-default);color:var(--color-primary);border:1px solid var(--border-primary);padding:.5rem;font-size:13px;font-weight:700;border-radius:6px}@keyframes toastIn{from{opacity:0;bottom:0}to{opacity:1;bottom:3rem}}@keyframes toastOut{from{opacity:1;bottom:3rem}to{opacity:0;bottom:0}}

/*
    accountMenu.css
    © Copyright 2020 Martin Weiss (martinweiss.cz)
*/
.account{padding:7px 10px;border-radius:3px;transition:.3s}
.account:hover,
.menuParent[active] > .account{background:var(--account-background);transition:.3s}
.account > span{font-size:14px}
.accountImage{--size:26px;width:var(--size);height:var(--size);border-radius:25px;margin-right:8px}

/*
    view.css
    © Copyright 2020 Martin Weiss (martinweiss.cz)
*/
* {box-sizing: border-box;}
a {text-decoration: none;}
main{background: #fbfbfb;} /* DEL */

.restaurant-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem 0;
    width: 100%;
    padding: 3rem 4rem;
}

.restaurant {
    background:white;
    min-width: 17rem;
    max-width: 20rem;
}

.restaurant-header {
    background: url(../../images/posters/default.jpg);
    height: 7rem;
    background-position: center;
    content: '';
    background-size: cover;
}

.restaurant-details {
    display: flex;
    flex-direction: column;
}

.rating {
    display: flex;
}

.rating-star {
    width: 17px;
    filter: grayscale(1);
}

.rating-star.active {
    filter: grayscale(0);
}

.raco {
    font-size: 9px;
}

/* 
    * Layout
    * © Copyright 2020 Martin Weiss (martinweiss.cz) 
*/
body {margin:0;padding:0;}

.container {
    display:grid;
    width: 100vw;
    min-height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: 5rem auto 5rem;
    grid-template-areas:
        "nav"
        "main"
        "footer";
}

nav {grid-area:nav;display:flex;align-items:center;justify-content:space-between;padding:0 4rem;box-shadow: 0px 1px 20px 0px #0000001a;position: relative;}
main {grid-area:main;}
footer {grid-area:footer;display:flex;justify-content:center;align-items:center;color:#1a1a1a2e;font-weight:700;font-size:13px;letter-spacing:-1px;text-align:center;}

@media only screen and (max-width: 671px) {
    #userprofile {
        display:none;
    }
}

@media only screen and (max-width: 401px) {
    .restaurant-list {
        padding: 3rem 0;
    }
}